img {
    height: 300px;
    margin-bottom: 300px;
}

/*Obrot*/
.rotate img {
    transform: rotate(20deg);
}


/*transformacja*/
.translate img {
    transform: translate(200px,100px);
}

/*skalowanie*/
.scale img {
    transform: scale(1.5);
}

/*animacje*/
.animation img {
    animation-name: resize;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes resize {
    0%, 100% {
        height: 300px;
    }
    50% {
        height: 50px;
    }
}